* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

form {
    background-color: rgb(195, 193, 193);
    padding: 2rem;
    border-radius: 1rem;
}

.form-box {
    margin: 1rem 0;
}

.box-text {
    width: 21rem;
}

.btn {
    text-align: center;
}

.btn input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}