* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111;
}

main>* {
  align-self: center;
  margin-bottom: 1rem;
}

form {
  padding: 10px;
}