@charset "UTF-8";

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: rgb(237, 237, 237);
}

header{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ol{
    display: flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    flex-direction:row;

    
    
}

li{
    flex-direction: row;
    list-style-type: none;
    margin:0px 20px 0px 20px
}


main{
    background-color: rgb(0, 0, 0);
    color:white;
    position: relative;
    display: flex;
    justify-content:center;
    
}



.formulario{
    background-color: white;
    color:black;
    height: 4000px;
    width: 400px;
    position: absolute;

    flex-wrap: wrap;
    overflow:auto;
    margin:30px;
}

button{
    
    color:white !important;
    text-decoration:none;
    all:unset;
    background:rgb(36, 36, 254);
    border: 7px solid rgb(36, 36, 254);
    border-radius: 2px;
    
}


button:hover{
    color:white !important;
    text-decoration:none;
    all:unset;
    background:rgb(86, 86, 255);
    border: 7px solid rgb(86, 86, 255);
    border-radius: 2px;
}

